.page-title {
  text-align: center;
  padding-top: 30px;
  height: auto;
}

.descrip-text {
  text-align: left;
  max-width: 950px;
  padding: 3px 3px 15px 100px;
  text-indent:-4.75em;
}

.key-items {
  font-size: 14px;
  text-align: left;
}

.container
{
  text-align: center;
  padding: 15px;
}

.left-div {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  margin: 15px;
  vertical-align: top;
  font-size: 12px;
}

.left-div2 {
  display: inline-block;
  max-width: 420px;
  padding-bottom: 10px;

}

.left-text2 {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: 15px;
  text-indent:-4.75em;
}


.right-div {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  padding: 30px;
  margin: 15px;
}

.right-div2 {
  display: inline-block;
  margin: 10px;
  margin-bottom: 30px;
  padding-left: 60px;
  align-self: left;
}

.right-div2 img {
  background-color: #CB5C5C;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 30px;
  margin: 5px;

}

.bg-text {
  max-width: 950px;
  text-align: left;
  text-indent:-4.75em;
  padding: 3px 3px 15px 70px;
}

.center-div {
  margin-top: 40px;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  display: inline-block;
  color:
}

.left-div img {
  background-color: #CB5C5C;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 30px;
}

.key-items a {
  color: #CB5C5C;
}

.center-photo {
  text-align: left;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .left-div, .right-div
    {
       max-width: 100%;
    }

  .left-text2{
      margin-left: 20px;
  }
}

.item {
  font-size: 13px;
}

.card {
  padding: 5px;
  margin: 10px;
}

.card-text {
  font-size: 12px;
}

.card-img-top {
  width: 100%;
  border: 1px solid #000000;
}

.card-group {
  margin-bottom: 20px;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-slide {
  max-width: 40%;
}

.bg-text1 {
  text-indent: 0em;
  max-width: 950px;
  text-align: left;
  padding: 3px 3px 15px 70px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red no-repeat center center;
    background-image: initial;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: red;
    background-size: 100% 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
